<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Request</title>
    <link rel="stylesheet" href="addRequest.css">

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
</head>
<body>

<ul>
    <li><a href="index.html">Home</a></li>
    <h3>Add a Request</h3>
</ul>

<section class="form">

    <input type="text" class="formField" placeholder="Request a ride to...">
    <input type="text" class="formField" placeholder="Request a ride from...">
    <input type="text" class="formField" placeholder="How many passengers...">
    <input type="text" class="formField" placeholder="Any accommodations...">

    <input type="submit">

</section>


</body>

</html>