ul h3 {
    text-align: center;
    z-index: 0;
}

#addReq {
    z-index: 1;
}

/* Navigation Bar Styles */
.navLeft {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AC2B37;
    width: 50%;
    float: left;
    z-index: 0;
}

.navRight {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    width: 50%;
    float: right;
    z-index: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AC2B37;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;
}

/* Split Pane Styles */
.tableLeft {
    width: 50%;
    float: left;
    table-layout: fixed;
}

.tableRight {
    width: 50%;
    float: right;
    table-layout: fixed;
}

th {
    width: 20%
}