<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNAP</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div class = "split leftSplit">

    <!-- Left Navigation Bar -->
    <ul class="navLeft">
        <li><a href="addRequest.html">Add a Request</a></li>
        <h3>New Requests</h3>
    </ul>

    <!-- Left Table -->
    <div class="dtLeft">
        <table class = "leftTable">
            <tr>
                <!--Using same class name as right table to make them have the same width-->
                <th class ="From">From</th>
                <th class ="To">To</th>
                <th class ="Passengers">no. Passengers</th>
                <th class ="Accom">Accommodations</th>
                <th class="time">Time In</th>
            </tr>
            <tr>
                <td>Wpi</td>
                <td>Price Chopper</td>
                <td>4</td>
                <td>No</td>
                <td>17:43</td>
            </tr>
            <tr>
                <td>Union Station</td>
                <td>WPI</td>
                <td>2</td>
                <td>No</td>
                <td>2:00</td>
            </tr>

        </table>
    </div>

</div>

<div class ="split rightSplit">

    <!-- Right Navigation Bar -->
    <ul class="navRight">
        <h3>In Process</h3>
    </ul>

    <!-- Right Table -->
    <div class="dtRight">
        <table class="rightTable">
            <tr>
                <!--Using same class name as left table to make them have the same width-->
                <th class ="From">From</th>
                <th class ="To">To</th>
                <th class ="Passengers">no. Passengers</th>
                <th class = "Accom">Accommodations</th>
                <th class ="Time">Time In</th>
            </tr>

        </table>
    </div>
</div>

</body>
</html>