ul h3 {
    text-align: center;
    z-index: 0;
}

#addReq {
    z-index: 1;
}

/* Navbar Styles */
.navbar {
    background-color: #ac2b37;
}
.navbar .navbar-brand {
    color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffbbbc;
}

/* Split Pane Styles */
.tableLeft {
    width: 50%;
    float: left;
    table-layout: fixed;
}

.tableRight {
    width: 50%;
    float: right;
    table-layout: fixed;
}

th {
    width: 20%
}