html,body{
    height:100%;
    margin:0;
    padding:0;
    background-color:#80808059;
}

/*split pane styles*/
.split{
    position:absolute;
    width:50%;
    height:100%;
    /*padding:0.6em;*/
}

/* Left side*/
.leftSplit{
    left: 0;
    width: 50%;
}

/* Right side*/
.rightSplit{
    right:0;
    width:50%;
}


ul h3 {
    text-align: center;
    z-index: 0;
}

#addReq {
    z-index: 1;
}

/* Navigation Bar Styles */
.navLeft {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CC0033;
    width: 100%;
    float: left;
    z-index: 0;
    border-radius:10px;
    color: white;
}

.navRight {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3333CC;
    width: 100%;
    float: right;
    z-index: 0;
    border-radius:10px;
    color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AC2B37;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: gray;
}

/* might need this to keep headers on top
thread, tbody{
    display:block;
} */

/* Table styles */

.dtLeft {
    width: 100%;
    float: left;
    table-layout: fixed;
    overflow-y:scroll;
    height: 100vh; /* necessary for scroll bar to work properly*/
    text-align: center;
}

/*width of left scroll bar*/
.dtLeft::-webkit-scrollbar {
    width: 10px;
}
/*color and background color of left scroll bar*/
.dtLeft::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f2f2f2;
}
/*making left scroll bar round*/
.dtLeft::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#09C9D9;
}


.dtRight {
    width: 100%;
    float: left;
    table-layout: fixed;
    overflow-y:scroll;
    height:100vh; /* necessary for scroll bar to work properly*/
    text-align: center;
}

/*width of right scroll bar*/
.dtRight::-webkit-scrollbar {
    width: 10px;
}
/*color and background color of right scroll bar*/
.dtRight::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f2f2f2;
}
/*making left scroll bar round*/
.dtRight::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#09C9D9;
}

/* Making width and height of each column stable for left table*/
.leftTable .From{
    width:30%;
}

.leftTable .To{
    width:30%;
}

.leftTable .Passengers{
    width:10%;
}

.leftTable .Accom{
    width: 20%; /*can be even smaller*/
}

.leftTable .Time{
    width:10%;
}

/* Making width and height of each column stable for right table*/
.rightTable .From{
    width:30%;
}

.rightTable .To{
    width:30%;
}

.rightTable .Passengers{
    width:10%;
}

.rightTable .Accom{
    width: 10%;
}

.rightTable .vanNo{
    width: 10%;
}

.rightTable .Time{
    width:10%;
}

.leftTable tr:nth-child(even) td{
    background-color:#FF6666;
}

.leftTable tr:nth-child(odd) td{
    background-color:#AAAAAA;
}

.rightTable tr:nth-child(even) td{
    background-color:#3366FF;
}

.rightTable tr:nth-child(odd) td{
    background-color:#AAAAAA;
}
